{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}Logout | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="col-xs-4 col-sm-offset-4">
      <h1>{% trans "Sign Out" %}</h1>
      
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-default" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
</div>
{% endblock %}
