{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}Sign Up | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="col-xs-4 col-sm-offset-4">
        <h1>{% trans "Sign Up" %}</h1>
        
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-default" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
</div>
{% endblock %}