{% extends 'base.html' %}

{% block head_title %}Checkout | {{ block.super }}{% endblock head_title %}
{% block script %}
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('{{ publish_key }}');
  function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};
</script>
{% endblock %}

{% block jquery %}
jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form class="form" action="" method="POST" id="payment-form">{% csrf_token %}
          <span class="payment-errors"></span>
        
          <div class="form-row">
            <label>
              <span>Card Number</span>
              <input class="form-control" type="text" size="20" data-stripe="number"/>
            </label>
          </div>
        
          <div class="form-row">
            <label>
              <span>CVC</span>
              <input type="text" size="4" data-stripe="cvc"/>
            </label>
          </div>
        
          <div class="form-row" >
            <label>
              <span>Expiration (MM/YYYY)</span>
              <input type="text" size="2" data-stripe="exp-month"/>
            </label>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year"/>
          </div>
        
          <button class="btn btn-success" type="submit">Submit Payment</button>
        </form>
    </div>
 </div>
{% endblock %}