{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Contact | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="row">
     <div class="col-xs-4 col-sm-offset-4">
<h1>{{ title }}</h1>

     {% if confirm_message %}
     
          <p>{{ confirm_message }}</p>
     
     {% endif %}

     {% if form %}
          <form method="POST" action=""> {% csrf_token %}
          
               {{ form | crispy }}
               
              <input type="submit" value="Submit" class="btn btn-default"/>
          </form>
     {% endif %}
     </div>
</div>
{% endblock %}