    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              {% url 'home' as home %}
              {% url 'about' as about %}
              {% url 'contact' as contact %}
            <li {% if request.path == home  %} class="active" {% endif %}><a href="{% url 'home' %}">Home</a></li>
            <li {% if request.path == about  %} class="active" {% endif %}><a href="{% url 'about' %}">About</a></li>
            <li {% if request.path == contact  %} class="active" {% endif %}><a href="{% url 'contact' %}">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
                {% else %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
